.logo-img {
    width: 150px;
}

.img-orange {
    width: 240px;
    color: white;
    background-color: darkorange;
    border-color: white;
    border-radius: 0%;
}

.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}